.escudo{
    margin: 10px 10px 10px 5px;
    max-width: 3vw;
    max-height: 4vw;
}

.clubs-gallery{
    margin: 5vw 0vw 1vw 0vw;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    background-color: white;
}

.club{
    align-self: center;
    justify-self: left;
    display: grid;
    grid-template-columns: auto auto;
}

img{
    justify-content: right;
    
}

.club-title{
    font-size: 1.45vw;
    align-self: center;
    justify-content: left;
    margin-right: 0.5vw;
}