.liga{
    justify-self: center;
    display: grid;
}

.liga-logo{
    max-width: 9vw;
    height: 4vw;
    align-self: center;
    justify-self: center;
}

.liga-title{
    font-size: 1.5vw;
    align-self: center;
    justify-content: left;
}

.ligas-gallery{
    margin: 10vw 5vw 7vw 5vw;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}